.main-auth-view {
    display:flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
    background-color: #ececec;
}
// .left-banner{
//     width: 1800px;
//     height: 100vh;
//     background: url("../../../assets/undraw_remotely_2j6y.svg");
//     background-size: cover;
// }